.list_item {
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list_item__icons {
    display: flex;
}



