.button {
    width: 80vw;
    max-width: 370px;
    height: 6rem;
    margin: auto;
    background-color: var(--darkCyan);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.button_big{
    width: 160px;
    height: 4rem;
    background-color: var(--darkCyan);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.button_square{
    width: 4rem;
    height: 4rem;
    background-color: var(--darkCyan);
    color: var(--white);
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
}